body.dark {
    background-color: #121212;
    color: #f1f1f1;
  }
  
  body.dark .navbar {
    background-color: #1e1e1e;
  }
  
  body.dark .category-card,
  body.dark .supplement-card,
  body.dark .contact-page,
  body.dark input,
  body.dark textarea {
    background-color: #1a1a1a;
    color: white;
    border-color: #333;
  }
  
  body.dark button {
    background-color: #00ffaa;
    color: #000;
  }
  